.header {
  display: flex;
  flex-direction: column;
  height: var(--header-h);
  justify-content: center;
  position: sticky;  
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header-dark  { background-color: var(--colors-brand-primary-pure); }
.header-light { background-color: var(--brandprimarypure); }

.header-light-estab,
.header-dark-estab {
  align-items: flex-start;
}
.header-cont,
.header-estab,
.header-main,
.header-dark.header-login {
  align-items: center;
}
.headerContent {
  align-items: center;
  align-self: stretch;
  display: flex;
  height: 64px;
  justify-content: space-between;
  padding: 8px 16px;
  position: relative;
  width: 100%;
}
.headerContent-login {
  gap: 16px;
  justify-content: center;
}
.leftSection {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 12px;
  padding: 0px 8px;
  position: relative;
}
.titleContainer {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}
.titleDark {
  color: var(--colors-brand-primary-light);
  font-family: "BancoDoBrasil Titulos-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 29.8px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
.logoContainer {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}
.vectorImage {
  height: 40px;
  position: relative;
  width: 29px;
}
.spacer {
  flex: 1;
  flex-grow: 1;
  height: 48px;
  position: relative;
}
.rightSection {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
}
.rightSection-login {
  align-items: flex-start;
  gap: 8px;
}
.areaContainer {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}
.areaTextWrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}
.areaText {
  align-items: center;
  color: var(--neutralhighdarkest);
  display: flex;
  font-family: "BancoDoBrasil Textos-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}
.areaIcon {
  background-size: 100% 100%;
  height: 5px;
  position: relative;
  width: 10px;
}
.areaIcon-light-cont {
  background-image: url(path-3.svg);
}
.areaIcon-light-main {
  background-image: url(path-4.svg);
}
.areaIcon-light-estab {
  background-image: url(path-2.svg);
}
.areaIcon-dark-estab {
  background-image: url(path-5.svg);
}
.areaIcon-dark-cont {
  background-image: url(path-6.svg);
}
.areaIcon-dark-main {
  background-image: url(path.svg);
}
.divider {
  background-color: var(--neutralhighlighter);
  height: 32px;
  position: relative;
  width: 2px;
}
.areaImageWrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  position: relative;
}
.areaImage {
  height: 32px;
  position: relative;
  width: 32px;
}
.loginImage {
  height: 40px;
  position: relative;
  width: 29px;
}
