.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  padding: 8px 8px 6px;
  position: relative;
  width: 100%;
}

.title {
  align-self: stretch;
  color: #0000008F;
  font-family: "BancoDoBrasil Textos", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 23px;
  margin-top: -1px;
  position: relative;
  margin-bottom: 6px;
}

.dateWrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.dateText {
  color: #a3a3a3;
  font-family: "BancoDoBrasil Textos-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24.1px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.spacer {
  flex: 1;
  flex-grow: 1;
  height: 24px;
  position: relative;
}

.linha {
  align-self: stretch;
  height: 2px;
  position: relative;
  width: 100%;
}

.textFieldLabel {
  color: var(--brandprimarypure);
  font-family: var(--caption-XS-regular-font-family);
  font-size: var(--caption-XS-regular-font-size);
  font-style: var(--caption-XS-regular-font-style);
  font-weight: var(--caption-XS-regular-font-weight);
  letter-spacing: var(--caption-XS-regular-letter-spacing);
  line-height: var(--caption-XS-regular-line-height);
  margin-bottom: 3px;
}