
:root {
  --header-h: 64px;
  --bottombar-h: 125px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.6rem; 
  background: var(--gray-900);
}

html, body, #root {
  height: 100%;
}

.container {
  align-items: flex-start;
  background-color: var(--colors-neutral-high-pure);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}
.mainContent {
  align-items: flex-start;
  align-self: stretch;
  border: 1px solid;
  border-color: var(--neutrallowlighter);
  border-radius: 8px;
  box-shadow: var(--sombras-shadow-level-2);
  display: flex;
  flex: 1;
  flex-grow: 1;
  margin-left: -1px;
  margin-right: -1px;
  position: relative;
  width: 100%;
}
.gridContainer {
  background-color: var(--colors-neutral-high-darker);
  display: grid;
  grid-template-columns: repeat(21, minmax(0, 1fr));
  grid-template-rows: repeat(5, minmax(0, 1fr));
  height: 871px;
  position: relative;
  width: 1728px;
}
.loginCard {
  align-items: flex-start;
  align-self: start;
  background-color: var(--colors-neutral-high-pure);
  border: 1px solid;
  border-color: var(--neutrallowlighter);
  border-radius: 8px;
  box-shadow: var(--sombras-shadow-level-2);
  display: flex;
  flex-direction: column;
  grid-column: 12 / 22;
  grid-row: 5 / 19;
  height: 100%;
  justify-self: start;
  position: relative;
  width: 100%;
}
.loginHeader {
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 24px;
  position: relative;
  width: 100%;
}
.loginTitle {
  align-self: stretch;
  color: var(--neutrallowdarkest);
  font-family: var(--heading-XXL-font-family);
  font-size: var(--heading-XXL-font-size);
  font-style: var(--heading-XXL-font-style);
  font-weight: var(--heading-XXL-font-weight);
  letter-spacing: var(--heading-XXL-letter-spacing);
  line-height: var(--heading-XXL-line-height);
  margin-top: -1px;
  position: relative;
}
.dividerWrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 24px;
  position: relative;
  width: 100%;
}
.formContent {
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
  padding: 24px;
  position: relative;
  width: 100%;
}
.inputGroup {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 416px;
}
.inputField {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 62px;
  padding: 8px 8px 6px;
  position: relative;
  width: 100%;
}
.inputLabel {
  align-self: stretch;
  color: var(--brandprimarypure);
  font-family: var(--caption-XS-regular-font-family);
  font-size: var(--caption-XS-regular-font-size);
  font-style: var(--caption-XS-regular-font-style);
  font-weight: var(--caption-XS-regular-font-weight);
  letter-spacing: var(--caption-XS-regular-letter-spacing);
  line-height: var(--caption-XS-regular-line-height);
  margin-top: -1px;
  position: relative;
}
.inputRow {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}
.iconWrapper {
  height: 24px;
  overflow: hidden;
  position: relative;
  width: 24px;
}
.iconVector1 {
  height: 100%;
  left: 13587.5%;
  position: absolute;
  top: -1154.86%;
  width: 100%;
}
.iconVector2 {
  height: 66.67%;
  left: 16.67%;
  position: absolute;
  top: 16.67%;
  width: 66.67%;
}
.inputText {
  color: transparent;
  font-family: var(--body-MD-regular-font-family);
  font-size: var(--body-MD-regular-font-size);
  font-style: var(--body-MD-regular-font-style);
  font-weight: var(--body-MD-regular-font-weight);
  letter-spacing: var(--body-MD-regular-letter-spacing);
  line-height: var(--body-MD-regular-line-height);
  margin-top: -1px;
  position: relative;
  width: 288px;
}
.inputCursor {
  color: #465eff;
  font-family: var(--body-MD-regular-font-family);
  font-size: var(--body-MD-regular-font-size);
  font-style: var(--body-MD-regular-font-style);
  font-weight: var(--body-MD-regular-font-weight);
  letter-spacing: var(--body-MD-regular-letter-spacing);
  line-height: var(--body-MD-regular-line-height);
}
.inputPlaceholder {
  color: #00000040;
  font-family: var(--body-MD-regular-font-family);
  font-size: var(--body-MD-regular-font-size);
  font-style: var(--body-MD-regular-font-style);
  font-weight: var(--body-MD-regular-font-weight);
  letter-spacing: var(--body-MD-regular-letter-spacing);
  line-height: var(--body-MD-regular-line-height);
}
.inputSpacer {
  flex: 1;
  flex-grow: 1;
  height: 24px;
  position: relative;
}
.inputLine {
  align-self: stretch;
  height: 2px;
  position: relative;
  width: 100%;
}
.inputSpacing {
  align-self: stretch;
  height: 32px;
  position: relative;
  width: 100%;
}
.passwordGroup {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 416px;
}
.passwordField {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 62px;
  padding: 32px 8px 6px;
  position: relative;
  width: 100%;
}
.passwordRow {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 8px;
  height: 24px;
  position: relative;
  width: 100%;
}
.passwordIcon {
  height: 24px;
  position: relative;
  width: 24px;
}
.passwordVector {
  height: 87.5%;
  left: 16.67%;
  position: absolute;
  top: 6.25%;
  width: 66.67%;
}
.passwordLabel {
  color: var(--neutrallowmedium);
  font-family: var(--body-MD-regular-font-family);
  font-size: var(--body-MD-regular-font-size);
  font-style: var(--body-MD-regular-font-style);
  font-weight: var(--body-MD-regular-font-weight);
  letter-spacing: var(--body-MD-regular-letter-spacing);
  line-height: var(--body-MD-regular-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
.passwordSpacer {
  flex: 1;
  flex-grow: 1;
  height: 24px;
  position: relative;
}
.visibilityIcon {
  height: 24px;
  overflow: hidden;
  position: relative;
  width: 24px;
}
.visibilityVector1 {
  height: 100%;
  left: 12020.83%;
  position: absolute;
  top: -1588.19%;
  width: 100%;
}
.visibilityVector2 {
  height: 62.5%;
  left: 4.17%;
  position: absolute;
  top: 16.67%;
  width: 91.67%;
}
.passwordLine {
  align-self: stretch;
  height: 2px;
  position: relative;
  width: 100%;
}
.passwordHint {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  height: 32px;
  padding: 4px 8px 8px;
  position: relative;
  width: 100%;
}
.hintText {
  align-self: stretch;
  color: var(--neutrallowmedium);
  font-family: var(--caption-XS-regular-font-family);
  font-size: var(--caption-XS-regular-font-size);
  font-style: var(--caption-XS-regular-font-style);
  font-weight: var(--caption-XS-regular-font-weight);
  letter-spacing: var(--caption-XS-regular-letter-spacing);
  line-height: var(--caption-XS-regular-line-height);
  margin-top: -1px;
  position: relative;
}
.buttonContainer {
  align-items: center;
  align-self: stretch;
  border-radius: 0px 0px 8px 8px;
  display: flex;
  gap: 24px;
  height: 85px;
  justify-content: center;
  padding: 8px 24px;
  position: relative;
  width: 100%;
}
.footer {
  align-items: center;
  align-self: stretch;
  background-color: var(--colors-brand-primary-pure);
  display: flex;
  flex-direction: column;
  height: 182px;
  position: relative;
  width: 100%;
}
.footerContent {
  align-items: center;
  background-color: var(--brandprimarypure);
  display: flex;
  flex: 0 0 auto;
  gap: 32px;
  justify-content: center;
  padding: 8px 64px;
  position: relative;
  width: 1568px;
}
