.container {
  display: flex;
  position: relative;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-color: var(--neutrallowlighter);
}

.cell {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 8px;
  padding: 12px;
  box-sizing: border-box;
}

/* mesmas larguras das rows ----------------------------------------- */

.cell:nth-child(1) {
  flex: 0 0 8%;
  max-width: 8%;
}

.cell:nth-child(2),
.cell:nth-child(3),
.cell:nth-child(4),
.cell:nth-child(5) {
  flex: 0 0 18%;
  max-width: 18%;
}

.cell:nth-child(6) {
  flex: 0 0 20%;
  max-width: 20%;
}

.label {
  color: var(--neutrallowdarkest);
  flex: 1;
  font-family: var(--body-MD-medium-font-family);
  font-size: var(--body-MD-medium-font-size);
  font-style: var(--body-MD-medium-font-style);
  font-weight: var(--body-MD-medium-font-weight); /* negrito */
  letter-spacing: var(--body-MD-medium-letter-spacing);
  line-height: var(--body-MD-medium-line-height);
  margin-bottom: -4.9px;
  margin-top: -5.9px;
  position: relative;
}

.icon {
  flex: 0 0 auto;
  margin-bottom: -5.4px;
  margin-top: -5.4px;
  position: relative;
}
