.container {
  display: flex;
  position: relative;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-color: var(--neutrallowlighter);
  margin: 0 6rem;
}

.cell {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 8px;
  padding: 12px;
  box-sizing: border-box;
}

.cell:nth-child(1) {
  flex: 0 0 8%;
  max-width: 8%;
}
.cell:nth-child(2),
.cell:nth-child(3),
.cell:nth-child(4),
.cell:nth-child(5) {
  flex: 0 0 18%;
  max-width: 18%;
}
.cell:nth-child(6) {
  flex: 0 0 20%;
  max-width: 20%;
}

.cellemail {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 8px;
  padding: 5px 12px 12px 12px;
  box-sizing: border-box;
}

.cellemail:nth-child(1) {
  flex: 0 0 16%;
  max-width: 16%;
}
.cellemail:nth-child(2),
.cellemail:nth-child(3),
.cellemail:nth-child(4) {
  flex: 0 0 21%;
  max-width: 21%;
}
.cellemail:nth-child(5) {
  flex: 0 0 21%;
  max-width: 21%;
}

.label {
  color: var(--neutrallowdarkest);
  flex: 1;
  font-family: var(--body-MD-medium-font-family);
  font-size: var(--body-MD-medium-font-size);
  font-style: var(--body-MD-medium-font-style);
  font-weight: var(--body-MD-medium-font-weight); 
  letter-spacing: var(--body-MD-medium-letter-spacing);
  line-height: var(--body-MD-medium-line-height);
  margin-bottom: -4.9px;
  margin-top: -5.9px;
  position: relative;
}

.icon {
  flex: 0 0 auto;
  margin-bottom: -5.4px;
  margin-top: -5.4px;
  position: relative;
}
