.container {
  width: 14px;
  height: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.vector {
  width: 24px;
  height: 24px;
  display: block;
  filter: grayscale(1) brightness(0.35);
  opacity: 0.9;
}
