.container {
  align-items: flex-start;
  border-color: var(--neutrallowlighter);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  display: flex;
  gap: 16px;
  position: relative;
}
.content {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
  overflow: hidden;
  padding: 24px 0px 24px 24px;
  position: relative;
}
.scrollbar {
  align-self: stretch;
  background-color: var(--neutrallowlightest);
  position: relative;
  width: 14px;
}
.scrollbarThumb {
  background-color: var(--neutrallowlight);
  border-radius: 4px;
  height: calc(100% - 111px);
  left: 3px;
  position: relative;
  width: calc(100% - 6px);
}
