NODE_ENV=
PORT=
APP_NAME=

DB_TYPE=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_SYNCHRONIZE=
DB_LOGGING=

JWT_SECRET=
JWT_EXPIRATION=
JWT_REFRESH_EXPIRATION=

AZURE_AD_TENANT_ID=
AZURE_AD_CLIENT_ID=
AZURE_AD_CLIENT_SECRET=
AZURE_AD_REDIRECT_URI=

CORS_ORIGIN=
CORS_CREDENTIALS=

THROTTLE_TTL=
THROTTLE_LIMIT=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=
