.container {
  background-image: url(vector.svg);
  background-size: 100% 100%;
  height: 24px;
  left: -13718px;
  position: relative;
  top: -4099px;
  width: 24px;
}
.image {
  height: 55.87%;
  left: 14.21%;
  position: absolute;
  top: 23.29%;
  width: 73.29%;
}
