.footer {
  width: 100%;
  height: var(--bottombar-h);                    
  background: var(--colors-brand-primary-pure);
  border-top: 4px solid var(--brandsecondarypure);
  display: flex;
  align-items: center;
}

.inner {
  width: 100%;
  padding: 0 0 15px 170px;
  margin-bottom: 45px;
  display: flex;
  align-items: center;
}