.modal {
  align-items: flex-start;
  background-color: var(--neutralhighpure);
  border: 1px solid;
  border-color: var(--neutrallowlighter);
  border-radius: 8px;
  box-shadow: var(--sombras-shadow-level-1);
  display: flex;
  flex-direction: column;
  height: 614px;
  position: relative;
  width: 787px;
}
.header {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 24px 0px 0px;
  position: relative;
  width: 100%;
}
.headerTop {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 0px 24px;
  position: relative;
  width: 100%;
}
.title {
  color: var(--brandprimarypure);
  font-family: var(--heading-XXL-font-family);
  font-size: var(--heading-XXL-font-size);
  font-style: var(--heading-XXL-font-style);
  font-weight: var(--heading-XXL-font-weight);
  letter-spacing: var(--heading-XXL-letter-spacing);
  line-height: var(--heading-XXL-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
.content {
  align-items: flex-start;
  align-self: stretch;
  border: 1px solid;
  border-color: var(--neutrallowlighter);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  padding: 24px 32px;
  position: relative;
  width: 100%;
}
.userLabel {
  align-self: stretch;
  color: var(--colors-neutral-low-medium);
  font-family: var(--body-LG-regular-font-family);
  font-size: var(--body-LG-regular-font-size);
  font-style: var(--body-LG-regular-font-style);
  font-weight: var(--body-LG-regular-font-weight);
  letter-spacing: var(--body-LG-regular-letter-spacing);
  line-height: var(--body-LG-regular-line-height);
  margin-top: -1px;
  position: relative;
}
.dropdownWrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.dropdownInput {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 8px 8px 6px;
  position: relative;
  width: 100%;
}
.dropdownLabel {
  color: var(--brandprimarypure);
  font-family: var(--caption-XS-regular-font-family);
  font-size: var(--caption-XS-regular-font-size);
  font-style: var(--caption-XS-regular-font-style);
  font-weight: var(--caption-XS-regular-font-weight);
  letter-spacing: var(--caption-XS-regular-letter-spacing);
  line-height: var(--caption-XS-regular-line-height);
  margin-top: -1px;
  position: relative;
  width: 352px;
}
.dropdownChips {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}
.spacer {
  flex: 1;
  flex-grow: 1;
  height: 24px;
  position: relative;
}
.linha {
  align-self: stretch;
  height: 2px;
  position: relative;
  width: 100%;
}
.dropdownMenu {
  align-items: center;
  align-self: stretch;
  box-shadow: var(--sombras-shadow-hover);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}
.dropdownMenuInner {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--neutralhighdarkest);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.dropdownOption {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  padding: 12px 16px;
  position: relative;
  width: 100%;
}
.dropdownOptionSelected {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--brandprimarylighter);
  display: flex;
  flex: 0 0 auto;
  padding: 12px 16px;
  position: relative;
  width: 100%;
}
.optionText {
  color: var(--neutrallowmedium);
  flex: 1;
  font-family: var(--body-MD-regular-font-family);
  font-size: var(--body-MD-regular-font-size);
  font-style: var(--body-MD-regular-font-style);
  font-weight: var(--body-MD-regular-font-weight);
  letter-spacing: var(--body-MD-regular-letter-spacing);
  line-height: var(--body-MD-regular-line-height);
  position: relative;
}
.footer {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-end;
  padding: 0px 0px 16px;
  position: relative;
  width: 100%;
}
.footerButtons {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
  justify-content: flex-end;
  padding: 0px 24px;
  position: relative;
  width: 100%;
}
