.page {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background: var(--colors-neutral-mid-pure);
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 48px 24px;
}
