.wrapper{

  --card-w: 400px;
  --grid-gap: 20px;
  width:100%;
  max-width: calc(var(--card-w) * 2 + var(--grid-gap));
  margin: 0 auto; 
}

.hero{
  width:100%;
  margin: 0px auto 50px;
  display:flex;
  flex-direction:column;
  align-items:flex-start;     
  padding-left: 0px;         
}

.title{
  margin:0;
  font-family:"sans-serif, BancoDoBrasil Titulos-Medium", Helvetica, Arial;
  font-size:48px;
  line-height:50px;         
  font-weight:600;
  letter-spacing:0;
  text-align:left;
}

.light{ color:#0000008f; }
.name { color:#465EFF; }      

.subtitle{
  margin: 10px 0px 0px 0px;
  font-family:"BancoDoBrasil Titulos-Regular", Helvetica, Arial, sans-serif;
  font-size:27px;
  line-height:42px;
  color:#0000008f;
  text-align:left;
}

.grid{
  display:grid;
  grid-template-columns: repeat(2, var(--card-w)); 
  justify-content:center;  
  margin-left: 40px;
  align-items:stretch;
}

@media (max-width: 980px){
  .wrapper{ max-width: 100%; }
  .hero{ align-items:center; padding-left:0; }
  .title, .subtitle{ text-align:center; }
  .grid{
    grid-template-columns: minmax(280px, 1fr);
    justify-items: center;
  }
}
