.container {
  align-items: flex-start;
  background-color: var(--neutralhighpure);
  border: 1px solid;
  border-color: var(--neutrallowlighter);
  display: flex;
  gap: 16px;
  position: relative;
}

.content {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
  padding: 24px;
  position: relative;
}

.text {
  align-self: stretch;
  color: var(--neutrallowmedium);
  font-family: var(--body-LG-regular-font-family);
  font-size: var(--body-LG-regular-font-size);
  font-style: var(--body-LG-regular-font-style);
  font-weight: var(--body-LG-regular-font-weight);
  letter-spacing: var(--body-LG-regular-letter-spacing);
  line-height: var(--body-LG-regular-line-height);
  margin-top: -1px;
  position: relative;
}
