.container {
  background-image: url(vector.svg);
  background-size: 100% 100%;
  height: 24px;
  left: -11607px;
  position: relative;
  top: -7859px;
  width: 24px;
}
.image {
  height: 20.83%;
  left: 29.17%;
  position: absolute;
  top: 41.67%;
  width: 41.67%;
}
