.page{
  min-height:100dvh;
  display:flex;
  flex-direction:column;
  background:#ffffff; 
}
.main{
  flex:1;
  display:flex;
  justify-content:center;
  align-items:flex-start;
  padding:30px 24px 10px;
}
