.container {
  height: 24px;
  overflow: hidden;
  position: relative;
  width: 24px;
}
.vectorImage {
  height: 100%;
  left: 12020.83%;
  position: absolute;
  top: -1588.19%;
  width: 100%;
}
.mainImage {
  height: 62.5%;
  left: 4.17%;
  position: absolute;
  top: 16.67%;
  width: 91.67%;
}
