.container {
  align-items: center;
  border: 2.1px solid;
  border-radius: 8px;
  display: flex;
  height: 84px;
  left: 18px;
  overflow: hidden;
  padding: 0px 16px;
  position: relative;
  width: 1253px;
  cursor: pointer;
}
.themeLight {
  background-color: var(--colors-neutral-high-pure);
}
.themeDark {
  background-color: var(--colors-neutral-low-pure);
}
.statusActive.themeLight {
  border-color: #cccccc;
  top: 15px;
}
.statusActive.themeDark {
  border-color: var(--colors-neutral-high-lighter);
  top: 223px;
}
.statusHover.themeLight {
  border-color: #a1a1a1;
  box-shadow: 0px 0px 12px 4px #0000001a;
  top: 119px;
}
.statusHover.themeDark {
  border-color: var(--colors-neutral-high-light);
  box-shadow: 0px 0px 12px 4px #ffffff1a;
  top: 327px;
}
.titleSection {
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
  justify-content: center;
  padding: 0px 24px;
  position: relative;
}
.titleText {
  font-family: "BancoDoBrasil Titulos-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24.8px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
.titleTextLight {
  color: var(--colors-neutral-low-darkest);
}
.titleTextDark {
  color: var(--colors-neutral-high-darkest);
}
.supplierName {
  font-family: "BancoDoBrasil Titulos-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 14.9px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
.supplierNameLight {
  color: var(--colors-brand-primary-pure);
}
.supplierNameDark {
  color: var(--colors-brand-secondary-pure);
}
.dividerWrapper {
  background-color: rgb(228, 228, 228);
  align-items: center;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 16px 0px;
  margin: 16px 0;
  position: relative;
}
.balanceSection {
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
  justify-content: center;
  padding: 8px 24px 8px 16px;
  position: relative;
}
.balanceLabel {
  align-self: stretch;
  font-family: "BancoDoBrasil Textos-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 13.4px;
  position: relative;
}
.labelLight {
  color: var(--neutrallowmedium);
}
.labelDark {
  color: var(--colors-neutral-high-medium);
}
.balanceValue {
  font-family: "BancoDoBrasil Textos-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 21.4px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}
.valueLight {
  color: var(--neutrallowmedium);
}
.valueDark {
  color: var(--colors-neutral-high-medium);
}
.progressWrapper {
  align-self: stretch;
  position: relative;
  width: 100%;
}
.progressWrapperActive {
  align-items: flex-end;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
}
.progressWrapperOther {
  height: 4px;
}
.progressContainer {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}
.progressBarBackground {
  background-color: var(--brandprimarylightest);
  border-radius: 2px;
  flex: 1;
  flex-grow: 1;
  height: 4px;
  position: relative;
}
.progressBarForeground {
  background-color: var(--brandprimarylightest);
  border-radius: 2px;
  height: 4px;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
}
.expirationSection {
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
  justify-content: center;
  padding: 8px 32px;
  position: relative;
}
.expirationLabel {
  align-self: stretch;
  font-family: "BancoDoBrasil Textos-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 13.4px;
  position: relative;
}
.expirationDays {
  align-self: stretch;
  font-family: "BancoDoBrasil Textos-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 18.8px;
  position: relative;
}
.expirationDate {
  align-self: stretch;
  font-family: "BancoDoBrasil Textos-Bold", Helvetica;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 16.1px;
  position: relative;
}
.dateLight {
  color: var(--colors-brand-primary-pure);
}
.dateDark {
  color: var(--colors-brand-secondary-pure);
}
.accountSection {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
  justify-content: center;
  position: relative;
}
.accountLabel {
  font-family: "BancoDoBrasil Textos-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 13.4px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}
.accountValue {
  font-family: "BancoDoBrasil Textos-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 24.1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
