/* src/mod-general-structure/components/components/PagerAssets/style.module.css */

.container {
  border-radius: 999px;
  display: flex;
  height: 35px;
  width: 35px;
  align-items: center;
  justify-content: center;
}

.nav {
  background-color: transparent;
}

.container.default-page.light,
.container.hover-page.light {
  background-color: var(--neutrallowlightest);
}

.container.default-page.dark,
.container.hover-page.dark {
  background-color: var(--neutralhighlighter);
}

.container.selected-page.light {
  background-color: var(--brandprimarypure);
}

.container.selected-page.dark {
  background-color: var(--brandprimarylight);
}

.container.continuation.light,
.container.continuation.dark {
  background-color: transparent;
}

.day {
  height: 24px;
  width: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day-continuation {
  font-family: var(--caption-SM-regular-font-family);
  font-size: var(--caption-SM-regular-font-size);
  font-style: var(--caption-SM-regular-font-style);
  font-weight: var(--caption-SM-regular-font-weight);
  letter-spacing: var(--caption-SM-regular-letter-spacing);
  line-height: var(--caption-SM-regular-line-height);
}

.day-default-page,
.day-hover-page,
.day-selected-page {
  font-family: var(--body-MD-medium-font-family);
  font-size: var(--body-MD-medium-font-size);
  font-style: var(--body-MD-medium-font-style);
  font-weight: var(--body-MD-medium-font-weight);
  letter-spacing: var(--body-MD-medium-letter-spacing);
  line-height: var(--body-MD-medium-line-height);
}

.day-continuation.light,
.day-default-page.light,
.day-hover-page.light {
  color: var(--neutrallowmedium);
}

.day-continuation.dark,
.day-default-page.dark,
.day-hover-page.dark {
  color: var(--neutralhighmedium);
}

.day-selected-page.light {
  color: #ffffff;
}

.day-selected-page.dark {
  color: var(--neutrallowdarkest);
}
