.container {
  height: 34px;
  position: relative;
  width: 34px;
  border: 1px solid var(--brandprimarypure);
  background: var(--brandprimarypure);
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.image {
  height: 32px;
  left: -0.1%;
  position: absolute;
  top: -0.1%;
  width: 32px;
}

.containerNum {
  background-color: #eeeeee;
  border-radius: 50%;
  height: 34px;
  position: relative;
  width: 34px;
  cursor: pointer;
  border: 1px solid transparent;
}

.text {
  color: var(--neutrallowmedium);
  font-family: var(--subtitle-XL-medium-font-family);
  font-size: var(--subtitle-XL-medium-font-size);
  font-style: var(--subtitle-XL-medium-font-style);
  font-weight: var(--subtitle-XL-medium-font-weight);
  left: calc(50% - 7px);
  letter-spacing: var(--subtitle-XL-medium-letter-spacing);
  line-height: var(--subtitle-XL-medium-line-height);
  position: absolute;
  top: calc(50% - 16px);
  white-space: nowrap;
  width: 12px;
}
