.label {
  align-items: center;
  color: #465eff;
  display: flex;
  font-family: var(--body-MD-bold-font-family);
  font-size: var(--body-MD-bold-font-size);
  font-style: var(--body-MD-bold-font-style);
  font-weight: var(--body-MD-bold-font-weight);
  justify-content: center;
  letter-spacing: var(--body-MD-bold-letter-spacing);
  line-height: var(--body-MD-bold-line-height);
  margin-top: -2px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.button {
  align-items: center;
  border: 2px solid;
  border-color: #465eff;
  background: #ffffff;
  border-radius: 24px;
  display: inline-flex;
  gap: 12px;
  justify-content: center;
  padding: 12px 16px;
  position: relative;
  cursor: pointer;
}

.button:hover {
  border-color: #ffffff;
  background: #465eff;
}

.button:hover .label {
  color: #ffffff;
}

.iconLeft {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:disabled,
.button:disabled:hover {
  cursor: not-allowed;
  opacity: 0.6;
  border-color: #c7c7c7;
  background: #f3f3f3;
}

.button:disabled .label,
.button:disabled:hover .label {
  color: #c7c7c7;
}
