.container {
  background-image: url(vector.svg);
  background-size: 100% 100%;
  height: 24px;
  left: -14577px;
  position: relative;
  top: -4155px;
  width: 24px;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
