.container {
  height: 24px;
  overflow: hidden;
  position: relative;
  width: 24px;
}
.vectorImage {
  height: 100%;
  left: 13587.5%;
  position: absolute;
  top: -1154.86%;
  width: 100%;
}
.image {
  height: 66.67%;
  left: 16.67%;
  position: absolute;
  top: 16.67%;
  width: 66.67%;
}
