/* src/mod-general-structure/components/components/ButtonIcon/IconB/style.module.css */

.container {
  height: 16px;
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: block;
  filter: brightness(0) invert(1);
}
