.footer {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-end;
  padding: 0 32px 24px;
  width: 100%;
  position: relative;
}

.divider {
  align-self: stretch;
  width: 100%;
}

.buttonContainer {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
  justify-content: flex-end;
  width: 100%;
}

.button {
  flex: 0 0 auto;
}
