.footer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-end;
  padding: 0px 0px 16px;
  position: relative;
}
.divider {
  align-self: stretch;
  left: unset;
  top: unset;
  width: 100%;
}
.buttonContainer {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
  justify-content: flex-end;
  padding: 0px 24px;
  position: relative;
  width: 100%;
}
.button {
  flex: 0 0 auto;
  left: unset;
  top: unset;
}
