.container {
  align-items: flex-start;
  background-color: var(--neutralhighpure);
  display: flex;
  gap: 16px;
  position: relative;
}

.content {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  padding: 24px 32px 24px;
  width: 100%;
}

.text {
  align-self: stretch;
  color: var(--neutrallowmedium);
  font-family: var(--body-LG-regular-font-family);
  font-size: var(--body-LG-regular-font-size);
  font-style: var(--body-LG-regular-font-style);
  font-weight: var(--body-LG-regular-font-weight);
  letter-spacing: var(--body-LG-regular-letter-spacing);
  line-height: var(--body-LG-regular-line-height);
  margin-top: -1px;
}
