/* src/mod-general-structure/components/general-components/SidebarAssets/style.module.css */

.container {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.light {
  background-color: transparent;
}

.light:hover {
  background-color: #f1f1f1; 
}

.dark {
  background-color: transparent;
}

.dark:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.selectedLight {
  background-color: #f1f1f1;
}


.indicator {
  width: 3px;
  height: 28px;
  border-radius: 999px;
  background-color: transparent;
}

.indicatorSelected {
  background-color: #465eff;
}

.textWrapper {
  display: flex;
  flex: 1;
  align-items: center;
}

.text {
  font-family: var(--body-MD-medium-font-family);
  font-size: var(--body-MD-medium-font-size);
  font-style: var(--body-MD-medium-font-style);
  font-weight: var(--body-MD-medium-font-weight);
  letter-spacing: var(--body-MD-medium-letter-spacing);
  line-height: var(--body-MD-medium-line-height);
  white-space: nowrap;
  color: #4a4a4a;
}

.textSelected {
  color: #465eff;
}
