.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--colors-neutral-high-darker);
}
.main {
  flex: 1;              
  display: flex;
  flex-direction: column;
}
.copyRow {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 24px;
  color: var(--neutrallowmedium);
  background: transparent;
}
