/* src/mod-general-structure/components/components/ChevronLeft/style.module.css */
.container {
  height: 24px;
  width: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vector {
  position: absolute;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
