.screenContainer {
  align-items: flex-start;
  background-color: var(--neutralhighpure);
  border: 1px solid;
  border-color: var(--neutrallowlighter);
  border-radius: 8px;
  display: flex;
  position: relative;
}
.mainGrid {
  background-color: var(--colors-neutral-mid-pure);
  display: grid;
  grid-template-columns: repeat(30, minmax(0, 1fr));
  grid-template-rows: repeat(22, minmax(0, 1fr));
  height: 893px;
  position: relative;
  width: 1728px;
}
.dividerContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-column: 3 / 31;
  grid-row: 21 / 22;
  height: 100%;
  justify-content: center;
  justify-self: end;
  padding: 10px 32px;
  position: relative;
  width: 100%;
}
