.screen {
  display: flex;
  justify-content: center;
  padding: 32px 0;
  background-color: var(--colors-neutral-mid-pure);
}

.wrapper {
  background-color: var(--neutralhighpure);
  border-radius: 8px;
  width: 95%;
  max-width: 1500px;
  padding: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  margin-bottom: 8px;
}

.tableCard {
  border-radius: 8px;
  border: 1px solid var(--neutrallowlighter);
  overflow: hidden;
  background-color: var(--neutralhighpure);
}

.footerArea {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.voltarWrapper {
  display: flex;
  align-items: center;
}

.paginationWrapper {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
