.divider { position: relative; }

.color-secondary-pure { background-color: var(--brandsecondarypure); }
.color-low-darker     { background-color: var(--neutrallowdarker); }
.color-high-lighter   { background-color: var(--neutralhighlighter); }
.color-high-pure      { background-color: var(--neutralhighpure); }
.color-low-lighter    { background-color: var(--neutrallowlighter); }
.color-low-lighter    { background-color: var(--neutrallowlighter); }
.color-primary-pure    { background-color: var(--brandprimarypure); }

.orientation-vertical   { width: 1px; height: 100%; }
.orientation-horizontal { width: 100%; max-width: 100%; height: 1px; }

.size-extra-small { height: 1px; }
.size-small       { height: 1px; }
.size-medium      { height: 2px; }
.size-large       { height: 4px; }
