.container {
  height: 30px;
  width: 68px;
}
.text {
  color: #fcfc30;
  font-family: "BancoDoBrasil Titulos-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: calc(50% - 34px);
  letter-spacing: 0;
  line-height: 29.8px;
  position: fixed;
  top: calc(50% - 15px);
  white-space: nowrap;
}
