.container { height: 30px; width: 68px; }
.text {
  color: #fcfc30;
  font-family: "BancoDoBrasil Titulos-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 29.8px;
  position: relative; /* era fixed */
  top: 0;
  left: 0;
  white-space: nowrap;
}
