.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--colors-neutral-high-lightest);
}

.content {
  flex: 1;
  display: flex;
  align-items: stretch;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow-y: auto;
}
