.screen {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: transparent;
}

.wrapper {
  width: 100%;
  max-width: 90%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: transparent;
  border-radius: 0;
}

.topRow {
  margin: 0rem 0rem 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.title {
  flex: 0 0 auto;
  margin: 0;
}

.filter {
  margin-left: 4rem;  
  margin-right: 9rem; 
  flex: 1;
  min-width: 0;
}

.tableCard {
  width: 100%;
  border-radius: 0;
  border: none;
  overflow: visible;
  background-color: transparent;
  padding: 0 2rem;
}

.paginationArea {
  margin-top: 0px;
}

.footerArea {
  margin: 0px 0px 15px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 900px) {
  .topRow {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .filter {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}
