.button {
  align-items: center;
  all: unset;
  border-radius: 24px;
  box-sizing: border-box;
  display: inline-flex;
  gap: 12px;
  justify-content: center;
  left: 13074px;
  padding: 12px 16px;
  position: relative;
  top: -127614px;
}
.text {
  align-items: center;
  color: var(--neutrallowdarkest);
  display: flex;
  font-family: var(--body-MD-bold-font-family);
  font-size: var(--body-MD-bold-font-size);
  font-style: var(--body-MD-bold-font-style);
  font-weight: var(--body-MD-bold-font-weight);
  justify-content: center;
  letter-spacing: var(--body-MD-bold-letter-spacing);
  line-height: var(--body-MD-bold-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}
