.container {
  background-image: url(vector.svg);
  background-size: 100% 100%;
  height: 24px;
  left: -14593px;
  position: relative;
  top: -3995px;
  width: 24px;
}
.image {
  height: 58.33%;
  left: 20.83%;
  position: absolute;
  top: 20.83%;
  width: 58.33%;
}
