.container {
  background-image: url(vector.svg);
  background-size: 100% 100%;
  height: 16px;
  left: -13125px;
  position: relative;
  top: -4007px;
  width: 16px;
}
.image {
  height: 58.33%;
  left: 20.83%;
  position: absolute;
  top: 20.83%;
  width: 58.33%;
}
