.screenWrapper {
  display: flex;
  flex: 1;
  position: relative;
  border: 0;
  background: transparent;
  border-radius:0;
  box-shadow: none;
}
.screenContainer {
  background-color: var(--colors-neutral-high-darker);
  min-height: calc(100vh - var(--header-h) - var(--bottombar-h) - 40px); 
  width: 100%;
  display: flex;
  align-items: center;   /* centraliza vertical */
  justify-content: center; /* centraliza horizontal */
  padding: 24px;
}
.card {
  background-color: var(--colors-neutral-high-pure);
  border: 1px solid var(--neutrallowlighter);
  border-radius: 8px;
  box-shadow: var(--sombras-shadow-level-2);
  display: flex;
  flex-direction: column;
  width: 480px;     
  max-width: 90vw;
  align-items: flex-start;
  position: relative;
  width: 480px;         
  max-width: 90vw;
}
.header {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 24px 24px 18px 24px;
  position: relative;
  width: 100%;
}
.headerTitle {
  align-self: stretch;
  color: var(--neutrallowdarkest);
  font-family: var(--heading-XXL-font-family);
  font-size: var(--heading-XXL-font-size);
  font-style: var(--heading-XXL-font-style);
  font-weight: var(--heading-XXL-font-weight);
  letter-spacing: var(--heading-XXL-letter-spacing);
  line-height: var(--heading-XXL-line-height);
  margin-top: -1px;
  position: relative;
}
.dividerWrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 24px 24px;
  position: relative;
  width: 100%;
}
.contentWrapper {
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
  padding: 24px;
  position: relative;
  width: 100%;
}

.inputContainer { width: 416px; margin-bottom: 20px}

.inputContent {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 0 8px;
  border-bottom: 1px solid var(--neutrallowlighter); 
}

.inputActive {                     
  border-bottom: 2px solid var(--colors-brand-primary-pure); 
}

.iconWrapper {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}

.vectorIcon { height: 100%; left: 13587.5%; top: -1154.86%; width: 100%; position: absolute; }
.imageIcon  { height: 66.67%;  left: 16.67%;   top: 16.67%;   width: 66.67%;  position: absolute; }

.inputText {
  color: transparent;
  font-family: var(--body-MD-regular-font-family);
  font-size: var(--body-MD-regular-font-size);
  line-height: var(--body-MD-regular-line-height);
  position: relative;
  width: 288px;
}

.inputCursor { color: #465eff; }
.inputPlaceholder { color: #00000040; }
.inputSpacer { flex: 1; height: 24px; }

/* ---------- Campo 2 (senha) ---------- */
.passwordContainer { width: 416px; margin: 15px;}

.passwordContent {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 24px;
  padding: 6px 0 21px;
  border-bottom: 1px solid var(--neutrallowlighter); /* cinza fino */
}

.passwordIconWrapper { width: 24px; height: 24px; position: relative; }
.passwordIcon { height: 87.5%; left: 16.67%; top: 6.25%; width: 66.67%; position: absolute; }
.passwordLabel {
  color: var(--neutrallowmedium);
  font-family: var(--body-MD-regular-font-family);
  font-size: var(--body-MD-regular-font-size);
  line-height: var(--body-MD-regular-line-height);
  white-space: nowrap;
}
.passwordSpacer { flex: 1; height: 24px; }
.passwordVisibilityWrapper { width: 24px; height: 24px; position: relative; overflow: hidden; }
.passwordVisibilityIcon1 { height: 100%; left: 12020.83%; top: -1588.19%; width: 100%; position: absolute; }
.passwordVisibilityIcon2 { height: 62.5%; left: 4.17%; top: 16.67%; width: 91.67%; position: absolute; }

.passwordHint { width: 100%; padding: 8px 0 0; }
.passwordHintText {
  color: var(--neutrallowmedium);
  font-family: var(--caption-XS-regular-font-family);
  font-size: var(--caption-XS-regular-font-size);
  line-height: var(--caption-XS-regular-line-height);
}

.footer {
  align-items: center;
  align-self: stretch;
  border-radius: 0 0 8px 8px;
  display: flex;
  gap: 24px;
  height: 85px;
  justify-content: center;
  padding: 8px 24px;
  width: 100%;
}