.screenWrapper {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--neutrallowlighter);
  border-radius: 8px;
  box-shadow: var(--sombras-shadow-level-2);
  display: flex;
  position: relative;
}
.screenContainer {
  background-color: var(--colors-neutral-high-darker);
  display: grid;
  grid-template-columns: repeat(21, minmax(0, 1fr));
  grid-template-rows: repeat(5, minmax(0, 1fr));
  height: 871px;
  position: relative;
  width: 1728px;
}
.card {
  align-items: flex-start;
  align-self: start;
  background-color: var(--colors-neutral-high-pure);
  border: 1px solid;
  border-color: var(--neutrallowlighter);
  border-radius: 8px;
  box-shadow: var(--sombras-shadow-level-2);
  display: flex;
  flex-direction: column;
  grid-column: 12 / 22;
  grid-row: 5 / 19;
  height: 100%;
  justify-self: start;
  position: relative;
  width: 100%;
}
.header {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 24px;
  position: relative;
  width: 100%;
}
.headerTitle {
  align-self: stretch;
  color: var(--neutrallowdarkest);
  font-family: var(--heading-XXL-font-family);
  font-size: var(--heading-XXL-font-size);
  font-style: var(--heading-XXL-font-style);
  font-weight: var(--heading-XXL-font-weight);
  letter-spacing: var(--heading-XXL-letter-spacing);
  line-height: var(--heading-XXL-line-height);
  margin-top: -1px;
  position: relative;
}
.dividerWrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 24px;
  position: relative;
  width: 100%;
}
.contentWrapper {
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
  padding: 24px;
  position: relative;
  width: 100%;
}
.inputContainer {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 416px;
}
.inputField {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 62px;
  padding: 8px 8px 6px;
  position: relative;
  width: 100%;
}
.inputLabel {
  align-self: stretch;
  color: var(--brandprimarypure);
  font-family: var(--caption-XS-regular-font-family);
  font-size: var(--caption-XS-regular-font-size);
  font-style: var(--caption-XS-regular-font-style);
  font-weight: var(--caption-XS-regular-font-weight);
  letter-spacing: var(--caption-XS-regular-letter-spacing);
  line-height: var(--caption-XS-regular-line-height);
  margin-top: -1px;
  position: relative;
}
.inputContent {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}
.iconWrapper {
  height: 24px;
  overflow: hidden;
  position: relative;
  width: 24px;
}
.vectorIcon {
  height: 100%;
  left: 13587.5%;
  position: absolute;
  top: -1154.86%;
  width: 100%;
}
.imageIcon {
  height: 66.67%;
  left: 16.67%;
  position: absolute;
  top: 16.67%;
  width: 66.67%;
}
.inputText {
  color: transparent;
  font-family: var(--body-MD-regular-font-family);
  font-size: var(--body-MD-regular-font-size);
  font-style: var(--body-MD-regular-font-style);
  font-weight: var(--body-MD-regular-font-weight);
  letter-spacing: var(--body-MD-regular-letter-spacing);
  line-height: var(--body-MD-regular-line-height);
  margin-top: -1px;
  position: relative;
  width: 288px;
}
.inputCursor {
  color: #465eff;
  font-family: var(--body-MD-regular-font-family);
  font-size: var(--body-MD-regular-font-size);
  font-style: var(--body-MD-regular-font-style);
  font-weight: var(--body-MD-regular-font-weight);
  letter-spacing: var(--body-MD-regular-letter-spacing);
  line-height: var(--body-MD-regular-line-height);
}
.inputPlaceholder {
  color: #00000040;
  font-family: var(--body-MD-regular-font-family);
  font-size: var(--body-MD-regular-font-size);
  font-style: var(--body-MD-regular-font-style);
  font-weight: var(--body-MD-regular-font-weight);
  letter-spacing: var(--body-MD-regular-letter-spacing);
  line-height: var(--body-MD-regular-line-height);
}
.inputSpacer {
  flex: 1;
  flex-grow: 1;
  height: 24px;
  position: relative;
}
.linha {
  align-self: stretch;
  height: 2px;
  position: relative;
  width: 100%;
}
.inputSpacing {
  align-self: stretch;
  height: 32px;
  position: relative;
  width: 100%;
}
.passwordContainer {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 416px;
}
.passwordField {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 62px;
  padding: 32px 8px 6px;
  position: relative;
  width: 100%;
}
.passwordContent {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 8px;
  height: 24px;
  position: relative;
  width: 100%;
}
.passwordIconWrapper {
  height: 24px;
  position: relative;
  width: 24px;
}
.passwordIcon {
  height: 87.5%;
  left: 16.67%;
  position: absolute;
  top: 6.25%;
  width: 66.67%;
}
.passwordLabel {
  color: var(--neutrallowmedium);
  font-family: var(--body-MD-regular-font-family);
  font-size: var(--body-MD-regular-font-size);
  font-style: var(--body-MD-regular-font-style);
  font-weight: var(--body-MD-regular-font-weight);
  letter-spacing: var(--body-MD-regular-letter-spacing);
  line-height: var(--body-MD-regular-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
.passwordSpacer {
  flex: 1;
  flex-grow: 1;
  height: 24px;
  position: relative;
}
.passwordVisibilityWrapper {
  height: 24px;
  overflow: hidden;
  position: relative;
  width: 24px;
}
.passwordVisibilityIcon1 {
  height: 100%;
  left: 12020.83%;
  position: absolute;
  top: -1588.19%;
  width: 100%;
}
.passwordVisibilityIcon2 {
  height: 62.5%;
  left: 4.17%;
  position: absolute;
  top: 16.67%;
  width: 91.67%;
}
.linha2 {
  align-self: stretch;
  height: 2px;
  position: relative;
  width: 100%;
}
.passwordHint {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  height: 32px;
  padding: 4px 8px 8px;
  position: relative;
  width: 100%;
}
.passwordHintText {
  align-self: stretch;
  color: var(--neutrallowmedium);
  font-family: var(--caption-XS-regular-font-family);
  font-size: var(--caption-XS-regular-font-size);
  font-style: var(--caption-XS-regular-font-style);
  font-weight: var(--caption-XS-regular-font-weight);
  letter-spacing: var(--caption-XS-regular-letter-spacing);
  line-height: var(--caption-XS-regular-line-height);
  margin-top: -1px;
  position: relative;
}
.footer {
  align-items: center;
  align-self: stretch;
  border-radius: 0px 0px 8px 8px;
  display: flex;
  gap: 24px;
  height: 85px;
  justify-content: center;
  padding: 8px 24px;
  position: relative;
  width: 100%;
}
