:root {
  --body-MD-bold-font-family: "BancoDoBrasil Textos", Helvetica;
  --body-MD-bold-font-style: normal;
  --body-MD-bold-font-weight: 700;
  --body-MD-bold-letter-spacing: 0.4000000059604645px;
  --body-MD-bold-line-height: 134.0000033378601%;
  --body-MD-medium-font-family: "BancoDoBrasil Textos", Helvetica;
  --body-MD-medium-font-size: 1.5rem;
  --body-MD-medium-font-style: normal;
  --body-MD-medium-font-weight: 500;
  --body-MD-medium-letter-spacing: 0px;
  --body-MD-medium-line-height: 134.0000033378601%;
  --body-MD-regular-font-family: "BancoDoBrasil Textos", Helvetica;
  --body-MD-regular-font-size: 1.3rem;
  --body-MD-regular-font-style: normal;
  --body-MD-regular-font-weight: 400;
  --body-MD-regular-letter-spacing: 0px;
  --body-MD-regular-line-height: 134.0000033378601%;
  --brandprimarypure: rgba(70, 94, 255, 1);
  --body-XS-regular-font-size: 1.15rem;
  --brandsecondarypure: rgba(252, 252, 48, 1);
  --caption-caption2-regular-font-family: "Source Sans Pro", Helvetica;
  --caption-caption2-regular-font-size: 14px;
  --caption-caption2-regular-font-style: normal;
  --caption-caption2-regular-font-weight: 400;
  --caption-caption2-regular-letter-spacing: 0px;
  --caption-caption2-regular-line-height: 20px;
  --caption-XS-regular-font-family: "BancoDoBrasil Textos", Helvetica;
  --caption-XS-regular-font-size: 14px;
  --caption-XS-regular-font-style: normal;
  --caption-XS-regular-font-weight: 400;
  --caption-XS-regular-letter-spacing: 0px;
  --caption-XS-regular-line-height: 144.0000057220459%;
  --colors-brand-primary-pure: rgba(70, 94, 255, 1);
  --colors-brand-secondary-pure: rgba(252, 252, 48, 1);
  --colors-neutral-high-darker: rgba(255, 255, 255, 0.75);
  --colors-neutral-high-pure: rgba(255, 255, 255, 1);
  --heading-XXL-font-family: "BancoDoBrasil Titulos", Helvetica;
  --heading-XXL-font-size: 2.5rem;
  --heading-XXL-font-style: normal;
  --heading-XXL-font-weight: 500;
  --heading-XXL-letter-spacing: 0px;
  --heading-XXL-line-height: 124.00000095367432%;
  --heading-XXXH-font-family: "BancoDoBrasil Titulos", Helvetica;
  --heading-XXXH-font-size: 52px;
  --heading-XXXH-font-style: normal;
  --heading-XXXH-font-weight: 700;
  --heading-XXXH-letter-spacing: 0px;
  --heading-XXXH-line-height: 124.00000095367432%;
  --light-mode-greys1: rgba(246, 245, 245, 1);
  --light-mode-greys4: rgba(182, 181, 181, 1);
  --light-mode-greys6: rgba(106, 105, 105, 1);
  --neutralhighdarker: rgba(255, 255, 255, 0.75);
  --neutralhighdarkest: rgba(255, 255, 255, 0.85);
  --neutralhighmedium: rgba(255, 255, 255, 0.56);
  --neutralhighpure: rgba(255, 255, 255, 1);
  --neutrallowdarkest: rgba(0, 0, 0, 0.85);
  --neutrallowlighter: rgba(0, 0, 0, 0.1);
  --neutrallowmedium: rgba(0, 0, 0, 0.56);
  --primriasbranco: rgba(255, 255, 255, 1);
  --sombras-shadow-level-2: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  --subtitle-XL-medium-font-family: "BancoDoBrasil Textos", Helvetica;
  --subtitle-XL-medium-font-size: 22px;
  --subtitle-XL-medium-font-style: normal;
  --subtitle-XL-medium-font-weight: 500;
  --subtitle-XL-medium-letter-spacing: 0px;
  --subtitle-XL-medium-line-height: 144.0000057220459%;
  --neutralhighlighter: rgba(255, 255, 255, 0.1);

  --caption-SM-regular-font-family: "BancoDoBrasil Textos", Helvetica;
  --caption-SM-regular-font-size: 16px;
  --caption-SM-regular-font-style: normal;
  --caption-SM-regular-font-weight: 400;
  --caption-SM-regular-letter-spacing: 0px;
  --caption-SM-regular-line-height: 150%;
  --colors-neutral-high-darkest: rgba(255, 255, 255, 0.85);
  --colors-neutral-high-light: rgba(255, 255, 255, 0.25);
  --colors-neutral-high-lighter: rgba(255, 255, 255, 0.1);
  --colors-neutral-high-medium: rgba(255, 255, 255, 0.56);
  --colors-neutral-high-pure: rgba(255, 255, 255, 1);
  --colors-neutral-low-light: rgba(0, 0, 0, 0.25);
  --colors-neutral-low-lighter: rgba(0, 0, 0, 0.1);
  --colors-neutral-low-pure: rgba(0, 0, 0, 1);
  --hover-dark: 0px 0px 12px 4px rgba(255, 255, 255, 0.1);
  --hover-light: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
  --neutrallowdarkest: rgba(0, 0, 0, 0.85);
  --neutrallowmedium: rgba(0, 0, 0, 0.56);

  --body-MD-bold-font-family: "BancoDoBrasil Textos", Helvetica;
  --body-MD-bold-font-size: 1.4rem;
  --body-MD-bold-font-style: normal;
  --body-MD-bold-font-weight: 700;
  --body-MD-bold-letter-spacing: 0.4000000059604645px;
  --body-MD-bold-line-height: 134.0000033378601%;
  --body-MD-medium-font-family: "BancoDoBrasil Textos", Helvetica;
  --body-MD-medium-font-style: normal;
  --body-MD-medium-font-weight: 500;
  --body-MD-medium-letter-spacing: 0px;
  --body-MD-medium-line-height: 134.0000033378601%;
  --body-MD-regular-font-family: "BancoDoBrasil Textos", Helvetica;
  --body-MD-regular-font-style: normal;
  --body-MD-regular-font-weight: 400;
  --body-MD-regular-letter-spacing: 0px;
  --body-MD-regular-line-height: 134.0000033378601%;
  --brandprimarydark: rgba(12, 27, 130, 1);
  --brandprimarylighter: rgba(176, 186, 255, 0.685);
  --brandprimarypure: rgba(70, 94, 255, 1);
  --brandsecondarypure: rgba(252, 252, 48, 1);
  --caption-SM-regular-font-family: "BancoDoBrasil Textos", Helvetica;
  --caption-SM-regular-font-size: 16px;
  --caption-SM-regular-font-style: normal;
  --caption-SM-regular-font-weight: 400;
  --caption-SM-regular-letter-spacing: 0px;
  --caption-SM-regular-line-height: 150%;
  --caption-XS-regular-font-family: "BancoDoBrasil Textos", Helvetica;
  --caption-XS-regular-font-size: 14px;
  --caption-XS-regular-font-style: normal;
  --caption-XS-regular-font-weight: 400;
  --caption-XS-regular-letter-spacing: 0px;
  --caption-XS-regular-line-height: 144.0000057220459%;
  --colors-brand-primary-pure: rgba(70, 94, 255, 1);
  --colors-neutral-mid-pure: rgba(242, 242, 242, 1);
  --neutralhighdarkest: rgba(255, 255, 255, 0.85);
  --neutralhighpure: rgba(255, 255, 255, 1);
  --neutrallowdarkest: rgba(0, 0, 0, 0.85);
  --neutrallowlighter: rgba(0, 0, 0, 0.1);
  --neutrallowlightest: rgba(0, 0, 0, 0.04);
  --neutrallowmedium: rgba(0, 0, 0, 0.56);
  --neutrallowpure: rgba(0, 0, 0, 1);
  --sombras-shadow-hover: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);

  --body-MD-bold-font-family: "BancoDoBrasil Textos", Helvetica;
  --body-MD-bold-font-size: 18px;
  --body-MD-bold-font-style: normal;
  --body-MD-bold-font-weight: 700;
  --body-MD-bold-letter-spacing: 0.4000000059604645px;
  --body-MD-bold-line-height: 134.0000033378601%;
  --body-MD-medium-font-family: "BancoDoBrasil Textos", Helvetica;
  --body-MD-medium-font-size: 18px;
  --body-MD-medium-font-style: normal;
  --body-MD-medium-font-weight: 500;
  --body-MD-medium-letter-spacing: 0px;
  --body-MD-medium-line-height: 134.0000033378601%;
  --body-MD-regular-font-family: "BancoDoBrasil Textos", Helvetica;
  --body-MD-regular-font-size: 18px;
  --body-MD-regular-font-style: normal;
  --body-MD-regular-font-weight: 400;
  --body-MD-regular-letter-spacing: 0px;
  --body-MD-regular-line-height: 134.0000033378601%;
  --brandprimarydark: rgba(12, 27, 130, 1);
  --brandprimarylighter: rgba(176, 186, 255, 1);
  --brandprimarypure: rgba(70, 94, 255, 1);
  --brandsecondarypure: rgba(252, 252, 48, 1);
  --caption-SM-regular-font-family: "BancoDoBrasil Textos", Helvetica;
  --caption-SM-regular-font-size: 16px;
  --caption-SM-regular-font-style: normal;
  --caption-SM-regular-font-weight: 400;
  --caption-SM-regular-letter-spacing: 0px;
  --caption-SM-regular-line-height: 150%;
  --caption-XS-regular-font-family: "BancoDoBrasil Textos", Helvetica;
  --caption-XS-regular-font-size: 14px;
  --caption-XS-regular-font-style: normal;
  --caption-XS-regular-font-weight: 400;
  --caption-XS-regular-letter-spacing: 0px;
  --caption-XS-regular-line-height: 144.0000057220459%;
  --colors-brand-primary-pure: rgba(70, 94, 255, 1);
  --colors-neutral-mid-pure: rgba(242, 242, 242, 1);
  --neutralhighdarkest: rgba(255, 255, 255, 0.85);
  --neutralhighpure: rgba(255, 255, 255, 1);
  --neutrallowdarkest: rgba(0, 0, 0, 0.85);
  --neutrallowlight: rgba(0, 0, 0, 0.25);
  --neutrallowlighter: rgba(0, 0, 0, 0.1);
  --neutrallowlightest: rgba(0, 0, 0, 0.04);
  --neutrallowmedium: rgba(0, 0, 0, 0.56);
  --neutrallowpure: rgba(0, 0, 0, 1);
  --sombras-shadow-hover: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  --tiny-XXS-medium-font-family: "BancoDoBrasil Textos", Helvetica;
  --tiny-XXS-medium-font-size: 12px;
  --tiny-XXS-medium-font-style: normal;
  --tiny-XXS-medium-font-weight: 500;
  --tiny-XXS-medium-letter-spacing: 0.30000001192092896px;
  --tiny-XXS-medium-line-height: 134.0000033378601%;
  --tiny-XXS-semibold-font-family: "BancoDoBrasil Textos", Helvetica;
  --tiny-XXS-semibold-font-size: 12px;
  --tiny-XXS-semibold-font-style: normal;
  --tiny-XXS-semibold-font-weight: 500;
  --tiny-XXS-semibold-letter-spacing: 0.30000001192092896px;
  --tiny-XXS-semibold-line-height: 134.0000033378601%;

  --body-LG-regular-font-family: "BancoDoBrasil Textos", Helvetica;
  --body-LG-regular-font-size: 20px;
  --body-LG-regular-font-style: normal;
  --body-LG-regular-font-weight: 400;
  --body-LG-regular-letter-spacing: 0px;
  --body-LG-regular-line-height: 160.0000023841858%;
  --body-MD-bold-font-family: "BancoDoBrasil Textos", Helvetica;
  --body-MD-bold-font-size: 18px;
  --body-MD-bold-font-style: normal;
  --body-MD-bold-font-weight: 700;
  --body-MD-bold-letter-spacing: 0.4000000059604645px;
  --body-MD-bold-line-height: 134.0000033378601%;
  --body-MD-regular-font-family: "BancoDoBrasil Textos", Helvetica;
  --body-MD-regular-font-size: 18px;
  --body-MD-regular-font-style: normal;
  --body-MD-regular-font-weight: 400;
  --body-MD-regular-letter-spacing: 0px;
  --body-MD-regular-line-height: 134.0000033378601%;
  --brandprimarydark: rgba(12, 27, 130, 1);
  --brandprimarylighter: rgba(176, 186, 255, 1);
  --brandprimarypure: rgba(70, 94, 255, 1);
  --brandsecondarypure: rgba(252, 252, 48, 1);
  --caption-SM-regular-font-family: "BancoDoBrasil Textos", Helvetica;
  --caption-SM-regular-font-size: 16px;
  --caption-SM-regular-font-style: normal;
  --caption-SM-regular-font-weight: 400;
  --caption-SM-regular-letter-spacing: 0px;
  --caption-SM-regular-line-height: 150%;
  --caption-XS-regular-font-family: "BancoDoBrasil Textos", Helvetica;
  --caption-XS-regular-font-size: 14px;
  --caption-XS-regular-font-style: normal;
  --caption-XS-regular-font-weight: 400;
  --caption-XS-regular-letter-spacing: 0px;
  --caption-XS-regular-line-height: 144.0000057220459%;
  --colors-neutral-high-medium: rgba(255, 255, 255, 0.56);
  --colors-neutral-low-medium: rgba(0, 0, 0, 0.56);
  --heading-XXL-font-family: "BancoDoBrasil Titulos", Helvetica;
  --heading-XXL-font-size: 26px;
  --heading-XXL-font-style: normal;
  --heading-XXL-font-weight: 500;
  --heading-XXL-letter-spacing: 0px;
  --heading-XXL-line-height: 124.00000095367432%;
  --neutralhighdarkest: rgba(255, 255, 255, 0.85);
  --neutralhighlighter: rgba(255, 255, 255, 0.1);
  --neutralhighpure: rgba(255, 255, 255, 1);
  --neutrallowdarker: rgba(0, 0, 0, 0.75);
  --neutrallowdarkest: rgba(0, 0, 0, 0.85);
  --neutrallowlighter: rgba(0, 0, 0, 0.1);
  --neutrallowlightest: rgba(0, 0, 0, 0.04);
  --neutrallowmedium: rgba(0, 0, 0, 0.56);
  --sombras-shadow-hover: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  --sombras-shadow-level-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  --sombras-shadow-level-2-light: 0px 2px 4px 0px rgba(255, 255, 255, 0.2);

  --brandprimarypure: rgba(70, 94, 255, 1);
  --heading-XXL-font-family: "BancoDoBrasil Titulos", Helvetica;
  --heading-XXL-font-size: 26px;
  --heading-XXL-font-style: normal;
  --heading-XXL-font-weight: 500;
  --heading-XXL-letter-spacing: 0px;
  --heading-XXL-line-height: 124.00000095367432%;
  --neutrallowlighter: rgba(0, 0, 0, 0.1);

  --body-MD-medium-font-family: "BancoDoBrasil Textos", Helvetica;
  --body-MD-medium-font-size: 18px;
  --body-MD-medium-font-style: normal;
  --body-MD-medium-font-weight: 500;
  --body-MD-medium-letter-spacing: 0px;
  --body-MD-medium-line-height: 134.0000033378601%;
  --brandprimarypure: rgba(70, 94, 255, 1);
  --brandsecondarypure: rgba(252, 252, 48, 1);
  --colors-neutral-high-lighter: rgba(255, 255, 255, 0.1);
  --colors-neutral-high-lightest: rgba(255, 255, 255, 0.04);
  --colors-neutral-mid-darker: rgba(25, 25, 25, 1);
  --colors-neutral-mid-pure: rgba(242, 242, 242, 1);
  --neutralhighdarkest: rgba(255, 255, 255, 0.85);
  --neutrallowdarkest: rgba(0, 0, 0, 0.85);
  --neutrallowlighter: rgba(0, 0, 0, 0.1);
  --neutrallowlightest: rgba(0, 0, 0, 0.04);

  --body-MD-medium-font-family: "BancoDoBrasil Textos", Helvetica;
  --body-MD-medium-font-size: 18px;
  --body-MD-medium-font-style: normal;
  --body-MD-medium-font-weight: 500;
  --body-MD-medium-letter-spacing: 0px;
  --body-MD-medium-line-height: 134.0000033378601%;
  --brandprimarypure: rgba(70, 94, 255, 1);
  --brandsecondarypure: rgba(252, 252, 48, 1);
  --colors-neutral-high-lighter: rgba(255, 255, 255, 0.1);
  --colors-neutral-high-lightest: rgba(255, 255, 255, 0.04);
  --colors-neutral-mid-darker: rgba(25, 25, 25, 1);
  --colors-neutral-mid-pure: rgba(242, 242, 242, 1);
  --neutralhighdarkest: rgba(255, 255, 255, 0.85);
  --neutrallowdarkest: rgba(0, 0, 0, 0.85);
  --neutrallowlighter: rgba(0, 0, 0, 0.1);
  --neutrallowlightest: rgba(0, 0, 0, 0.04);

  --colors-brand-primary-pure: rgba(70, 94, 255, 1);
  --colors-neutral-high-darkest: rgba(255, 255, 255, 0.85);

  --body-MD-regular-font-family: "BancoDoBrasil Textos", Helvetica;
  --body-MD-regular-font-size: 18px;
  --body-MD-regular-font-style: normal;
  --body-MD-regular-font-weight: 400;
  --body-MD-regular-letter-spacing: 0px;
  --body-MD-regular-line-height: 134.0000033378601%;
  --brandprimarylightest: rgba(229, 232, 255, 1);
  --brandprimarypure: rgba(70, 94, 255, 1);
  --caption-SM-regular-font-family: "BancoDoBrasil Textos", Helvetica;
  --caption-SM-regular-font-size: 16px;
  --caption-SM-regular-font-style: normal;
  --caption-SM-regular-font-weight: 400;
  --caption-SM-regular-letter-spacing: 0px;
  --caption-SM-regular-line-height: 150%;
  --caption-XS-regular-font-family: "BancoDoBrasil Textos", Helvetica;
  --caption-XS-regular-font-size: 14px;
  --caption-XS-regular-font-style: normal;
  --caption-XS-regular-font-weight: 400;
  --caption-XS-regular-letter-spacing: 0px;
  --caption-XS-regular-line-height: 144.0000057220459%;
  --colors-brand-primary-pure: rgba(70, 94, 255, 1);
  --colors-neutral-high-pure: rgba(255, 255, 255, 1);
  --colors-neutral-low-dark: rgba(0, 0, 0, 0.65);
  --colors-neutral-low-darkest: rgba(0, 0, 0, 0.85);
  --colors-neutral-low-light: rgba(0, 0, 0, 0.25);
  --colors-neutral-low-lighter: rgba(0, 0, 0, 0.1);
  --colors-neutral-low-medium: rgba(0, 0, 0, 0.56);
  --colors-neutral-mid-pure: rgba(242, 242, 242, 1);
  --neutralhighpure: rgba(255, 255, 255, 1);
  --neutrallowdarkest: rgba(0, 0, 0, 0.85);
  --neutrallowlight: rgba(0, 0, 0, 0.25);
  --neutrallowlighter: rgba(0, 0, 0, 0.1);
  --neutrallowlightest: rgba(0, 0, 0, 0.04);
  --neutrallowmedium: rgba(0, 0, 0, 0.56);
  --sombras-shadow-hover: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  --sombras-shadow-level-2: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  --tiny-XXS-medium-font-family: "BancoDoBrasil Textos", Helvetica;
  --tiny-XXS-medium-font-size: 12px;
  --tiny-XXS-medium-font-style: normal;
  --tiny-XXS-medium-font-weight: 500;
  --tiny-XXS-medium-letter-spacing: 0.30000001192092896px;
  --tiny-XXS-medium-line-height: 134.0000033378601%;
  --tiny-XXS-semibold-font-family: "BancoDoBrasil Textos", Helvetica;
  --tiny-XXS-semibold-font-size: 12px;
  --tiny-XXS-semibold-font-style: normal;
  --tiny-XXS-semibold-font-weight: 500;
  --tiny-XXS-semibold-letter-spacing: 0.30000001192092896px;
  --tiny-XXS-semibold-line-height: 134.0000033378601%;

  --body-MD-regular-font-family: "BancoDoBrasil Textos", Helvetica;
  --body-MD-regular-font-size: 18px;
  --body-MD-regular-font-style: normal;
  --body-MD-regular-font-weight: 400;
  --body-MD-regular-letter-spacing: 0px;
  --body-MD-regular-line-height: 134.0000033378601%;
  --brandprimarypure: rgba(70, 94, 255, 1);
  --caption-SM-regular-font-family: "BancoDoBrasil Textos", Helvetica;
  --caption-SM-regular-font-size: 16px;
  --caption-SM-regular-font-style: normal;
  --caption-SM-regular-font-weight: 400;
  --caption-SM-regular-letter-spacing: 0px;
  --caption-SM-regular-line-height: 150%;
  --neutralhighpure: rgba(255, 255, 255, 1);
  --neutrallowlight: rgba(0, 0, 0, 0.25);
  --neutrallowlightest: rgba(0, 0, 0, 0.04);
  --neutrallowmedium: rgba(0, 0, 0, 0.56);
  --sombras-shadow-hover: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  --tiny-XXS-medium-font-family: "BancoDoBrasil Textos", Helvetica;
  --tiny-XXS-medium-font-size: 12px;
  --tiny-XXS-medium-font-style: normal;
  --tiny-XXS-medium-font-weight: 500;
  --tiny-XXS-medium-letter-spacing: 0.30000001192092896px;
  --tiny-XXS-medium-line-height: 134.0000033378601%;
  --tiny-XXS-semibold-font-family: "BancoDoBrasil Textos", Helvetica;
  --tiny-XXS-semibold-font-size: 12px;
  --tiny-XXS-semibold-font-style: normal;
  --tiny-XXS-semibold-font-weight: 500;
  --tiny-XXS-semibold-letter-spacing: 0.30000001192092896px;
  --tiny-XXS-semibold-line-height: 134.0000033378601%;
}
