.container {
  align-items: flex-start;
  border-color: var(--neutrallowlighter);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  display: flex;
  gap: 16px;
  position: relative;
}
.content {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
  padding: 24px 0px 24px 24px;
  position: relative;
}
.infoSection {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.infoBlock {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.infoItem {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
  padding: 12px 16px 11.5px;
  position: relative;
  width: 100%;
}
.infoItemContent {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}
.infoRow {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
  width: 100%;
}
.infoColumn {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}
.infoValueEnd {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}
.infoValueStart {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}
.stepsContainer {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}
.scrollbar {
  align-self: stretch;
  background-color: var(--neutrallowlightest);
  position: relative;
  width: 14px;
}
.scrollbarThumb {
  background-color: var(--neutrallowlight);
  border-radius: 4px;
  height: calc(100% - 111px);
  left: 3px;
  position: relative;
  width: calc(100% - 6px);
}
