/* src/mod-general-structure/components/general-components/SideBar/style.module.css */

.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 16px 0;
  height: 100%;
  flex-shrink: 0;
  transition: width 0.25s ease;
}

.level-primary {
  width: 260px; 
  align-items: stretch;
}

.level-collapsed {
  width: 72px;
  align-items: center;
}

.theme-dark {
  background-color: var(--colors-neutral-mid-dark);
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  padding-top: 24px; /* distância do header até o primeiro item */
}
