.footer {
  width: 100%;
  height: var(--bottombar-h);                     /* altura igual à foto */
  background: var(--colors-brand-primary-pure);   /* azul */
  border-top: 2px solid var(--brandsecondarypure);/* linha amarela colada em cima */
  display: flex;
  align-items: center;
}

.inner {
  width: 100%;
  padding: 0 24px;
  display: flex;
  align-items: center;
}