/* src/mod-general-structure/components/components/ArrowDropdown/style.module.css */

.container {
  height: 24px;
  width: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
